@tailwind base;
@tailwind components;
@tailwind utilities;


.test-background {
    background-image: url('./asset/nik.png');

  }

  @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

  .bunge {
    font-family: "Bungee", sans-serif;
    font-weight: 800;
    font-style: normal;
  }